body {
  background: white;
}
p,
h1,
h2,
h3 {
  color: black;
}
.text {
  display: flex;
}
#btn {
  margin-left: 4em;
  border-radius: 15%;
  background-color: cornflowerblue;
}
#pupuman {
  display: block;
  color: black;
}
.hide-me {
  display: none;
}
